body {
  background: #24353f;
  font-family: 'Titillium Web', sans-serif;
}

#home {
  height: 75vh;
}

form,
.group {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

h1 {
  color: #17a2b8;
}

.form-control,
.form-control:is(:focus-visible) {
  color: #fff;
  background-color: transparent;
  box-shadow: none;

  &::placeholder {
    color: #b6b6b6;
  }
}

:where(.btn-signin, .btn-signup):is(:hover) {
  color: #fff !important;
}
